/* border: 1px solid darkred; */
body {
    font-size: 16px;
}

.container-spectrum {
    font-family: 'Cambo', serif;
    font-weight: 400;
    font-size: 1.5rem;
}

h3 {
    text-transform: uppercase;
}

#selectors-bar label,
.dropdown,
.input-w,
.data-result,
.btn-get-data {
    font-family: 'Roboto', Sans-serif;
    font-weight: 300;
    font-size: 2rem;
}

#selectors-bar label {
    font-weight: 400;
}

.dropdown {
    font-size: 1.5rem;
}

main {
    /* width: 90%; */
    margin: 5% 2%;
    border: 1px solid darkred;
}

#selectors-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4%;
    align-items: center;
    border: 1px solid darkred;
    padding: 2% 0;
}

.selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 5%;

    border: 1px solid darkred;
}

.selector .dropdown {
    width: 60%;
}

#all-spectra {
    margin: 5% auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 45px;
}

.container-spectrum {
    width: 100%;
    border: 1px solid darkred;
}

h3 {
    position: relative;
    top: 1em;
    left: 2em;
    
}

.container-w-a-data {
    margin: 3.5em auto 1em;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.target-w-bar {
    margin-bottom: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.w-a-result p {
    display: inline-block;
    margin-bottom: 2%;
}
.w-a-result .data-result {
    margin-left: 6.3em;
}






















#att {
    font-size: 32px;
    margin-top: 10%;
    text-align: center;
}

